{
	email admin@zapper.cloud
	http_port 8080
	https_port 8444
}

(devnepal) {
	encode zstd gzip

	handle_path /static/* {
		root * /Users/k2/github/DevNepal/staticfiles
		file_server
	}

	handle_path /media/* {
		root * /Users/k2/github/DevNepal/media
		file_server
	}

	reverse_proxy 127.0.0.1:8000 {
		header_up X-Forwarded-Proto https
	}
}

zapper.cloud {
	bind 192.168.10.30
	import devnepal
}

www.zapper.cloud {
	bind 192.168.10.30
	redir https://zapper.cloud{uri} permanent
}

http://k2.fell-truck.ts.net:8080 {
	bind 127.0.0.1
	import devnepal
}
